html, body {
  height: 100%;
  margin: 0;
  background-color: #3b5998;
}

.container {
  margin: 100px;
  width: 100%;
  height: 100%;
  background-color: #3b5998;
  color: white;
  overflow:hidden;
  text-align: center;
}
